body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

.loading-center {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}